body {
    background-color: lightgray;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: darkblue;
    margin-bottom: 30px;
}

.slike {
    text-align: center;
}

.slika {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    border: 3px solid darkblue;
    border-radius: 10px;
    transition: 0.3s;
}
.slika:hover {
    opacity: 0.6;
    border-color: black;
}
#slika3 {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    border: 3px solid darkblue;
    border-radius: 10px;
}